body 
{
text-align: left;
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
color: #000000;
background: #000000 url(background.png); 
background-repeat: repeat-y; 
line-height: 120%;
overflow: auto;
}

footer 
{
padding: 1px;
color: white;
background-color: grey;
clear: left;
text-align: center;
opacity: .75;
}

*
{
margin: 0 auto 0 auto;
text-align:left;
}
 
#title
{
text-align: left; 
font-weight: bold;
position: relative;
top: -20px; 
left: 15px;
font-size: 24px;
color: #000000;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#subtitle
{
margin-top: -25px; 
text-align: left; 
position: relative;
top: 15px; 
left: 15px;
font-size: 12px;
color: #000000; 
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
} 


body:after {
content: "";
display: block;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -5;
background: url(bg.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body:after {
content: "";
display: block;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -4;
background-color: #e0e0e0;
opacity: 0.5;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#background2
{
background-color: #e0e0e0;
margin: auto;
padding: 50px; 
width: 42%;
min-width: 720px;
border: 1px solid black;
}

#extrapadding
{
margin-left: 110px;
margin-right: 110px;
}

#center
{
margin: auto;
width: 50%;
text-align: center;
}

ul 
{
list-style-type: none;
margin: 0;
padding: 0;
overflow:hidden;
width: 100%;
}


li
{
margin-top: 17px;
margin-left: 15px;
float: left; 
display: block;
font-size: 10px; 
width: 65px;
height: 65px;
font-family: Verdana, Geneva, sans-serif;
color: black; 
position: relative;
z-index: 1;
} 

li a, .dropbtn
{
text-decoration:none;
color: black;
-webkit-transition: color 0.5s ease-out;
 -moz-transition: color 0.5s ease-out;
 -o-transition: color 0.5s ease-out;
 -ms-transition: color 0.5s ease-out;
 transition: color 0.5s ease-out;
}

li a:hover, .dropdown:hover .dropbtn
{
color: white;
width: 100%;
height: 100%;
}

li.dropdown 
{
display: inline-block;
}

.dropdown-content 
{
display: none;
position: absolute;
background-color: #f9f9f9;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
color: black;
padding: 5px; 
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover
{
background-color: #f1f1f1
}

.show {
display:block;
}

h1
{
font-size: 18px;
color: black;
margin-top: -10px;
margin-bottom: 10px;
font-family: Calibri;
}

h2
{
font-size: 16px;
color: black; 
margin-top: 10px;
margin-bottom: 10px;
line-height: 120%;
font-weight:normal; 
font-family: Calibri;
}

blockquote 
{
font-size:12px;
text-align:justify;
width:400px;
color:#000000;
padding:15px;
margin:10px;
font-family:Arial, Helvetica, sans-serif;
background-image:url(blockquote.png);
background-repeat:no-repeat;
border:dashed 1px;
border-color:#484848;
}

.imgA 
{
position: absolute;
opacity: 0.05;
height: 90px;
width: 100%;
z-index: 0;
}

.imgB
{
position: fixed;
opacity: 0.2;
width: 75%;
top: 0;
left: 12.5%;
height: 150%;
z-index: -1;
}

.breathing /*cool breathing animation, no use yet*/
{
animation:10s breather linear infinite;
-webkit-animation:10s breather linear infinite;
-moz-animation:10s breather linear infinite;
}

@-moz-keyframes breather {  
 0% { color: black; }
 25% { color: white; }
 50% { color: black; }
 75% {color: white; }
 100% { color: black; }
 }

@-webkit-keyframes breather {  
 0% { color: black; }
 25% { color: white; }
 50% { color: black; }
 75% {color: white; }
 100% { color: black; }
 }

@keyframes breather {  
 0% { color: black; }
 25% { color: white; }
 50% { color: black; }
 75% {color: white; }
 100% { color: black; }
 }

.box
{
margin-left: 0px; 
position: relative;
width: 130px;
height: auto;
background-color: white; 
padding: 15px;
}

#blogimage
{
position: static;
border: 2px solid black;
margin: auto;
width: 100%; 
transition: -webkit-transform 0.25s ease;
}

#blogimage:hover
{
-webkit-transform: scale(2.5);
z-index: 1;
}

#p1 /*hide decor and use for show/hide funct*/
{
text-decoration:none;
line-height: 140%;
}

#p1 a:hover
{
text-decoration: underline;
}

#cleanline
{
width: 100%;
height: 2px;
float: left;
margin-top: -5px;
}

#bff 
{
margin-top: 25px;
}

#bodytextog
{
width: 100%; 
margin-top: 15px;
margin-bottom: 10px;
}
#bodytext
{
width: 100%; 
margin-top: 10px;
margin-bottom: 10px;
}

.tg  
{border-collapse:collapse;border-spacing:0;border-color:#ccc;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}